@model API_Consumer_University_test1.Models.Teachers

@{
    ViewData["Title"] = "ShowProfile";
}

<h1>ShowProfile</h1>

<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHD_University)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHD_University)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
