@model List<API_Consumer_University_test1.Models.Courses>
<link rel="stylesheet" href="~/lib/bootswatch/darkly/bootstrap.css" />
@{
    ViewData["Title"] = "Enroll in Courses";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2>Enroll in Courses</h2>

<table class="table">
    <thead>
        <tr class="table-success">
            <th scope ="col">Course ID</th>
            <th scope="col">Name</th>
            <th scope="col">Teacher</th>
            <th scope="col">Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td >@course.Course_Name</td>
                <td>@course.Teacher_Name</td>
                <td>@course.Course_Hours</td>
                <td>
                    <form asp-action="EnrollCourse" method="post">
                        <input type="hidden" name="courseId" value="@course.Id" />
                        <button type="submit" class="btn btn-primary">Enroll</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
